[submodule "CPCCore"]
	path = CPCCore
	url = https://github.com/Tom1975/CPCCore.git
[submodule "openal-soft"]
	path = openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
	branch = master
